body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filters {
    padding: 1rem;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.product-card {
    background-color: rgb(162, 155, 140);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
}

.product-details {
    margin-top: 1rem;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}